@{
  Layout = "_Layout";
}

<h1>Online Bakery</h1>
<p>Welcome back to the Online Bakery, please sign in</p>
@Html.ActionLink(" ManageUser", "Index", "ManageUsers", null, new { @class = "btn btn-info fa fa-gear"})
