@{
  Layout = "_Layout";
}

<p>Online Bakery</p>
<p>Sign in to order some tasty treats</p>
<div class="">
  <hr />
  <img src="" alt="Treats">
  <hr />
  <img src="" alt="Treats">
  <hr />
  <img src="" alt="Treats">
  <hr />
</div>
