@{
  Layout = "_Layout";
}

<p>Online Bakery</p>
<p>Sign in to order some tasty treats</p>
<div class="">
  <hr />
  <img class="frontimage" src="https://www.aboutamom.com/wp-content/uploads/2016/02/3-Ingredient-No-Bake-Valentine-Treats1.png" alt="Treats">
  <img class="frontimage" src="https://spicedblog.com/wp-content/uploads/2011/10/fall-flavors-baking-e1318210792767.jpg" alt="Treats">
  <hr />
</div>
