@{
  Layout = "_Layout";
}

@model OnlineBakery.Models.Flavor

@Html.ActionLink(" All Flavors", "Index", null, null, new { @class="btn btn-info fa fa-th-list" })
<hr />
<p>Are you sure you want to delete this Flavor?</p>
<hr />
@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
@using (Html.BeginForm())
{
  <button type="submit" class="btn btn-info fa "><i class="fa-times"> Delete</i></button>
}
<hr />