@{
  Layout = "_Layout";
}

@using System.Security.Claims

<p>Authentication with Identity</p>
<hr />
@if (User.Identity.IsAuthenticated)
{
    <p>Hello @User.Identity.Name!</p>
    <p>What would you like to do?</p>
    <p>Choose from the options above.</p>
}
else
{
    <p>@Html.ActionLink("Register", "Register", null, null, new {@class = "btn btn-info fa fa-pencil-square-o"})</p>
    <p>@Html.ActionLink("Log in", "Login", null, null, new {@class = "btn btn-info fa fa-sign-in"})</p>
}
