@{
  Layout = "_Layout";
}

@using System.Security.Claims
@using OnlineBakery.ViewModels
@model LoginViewModel

<p>Authentication with Identity</p>
<hr />
@if (User.Identity.IsAuthenticated)
{
    <p>Hello @User.Identity.Name!</p>
    <p>What would you like to do?</p>
    <p>Choose from the options above.</p>
}
else
{
  <p>Log in with your account or Register</p>
  <hr />
  @Html.ActionLink(" Log in", "Login", "Account", null, new { @class = "btn btn-info fa fa-sign-in" })
  @Html.ActionLink(" Register", "Register", "Account", null, new {@class = "btn btn-info fa fa-pencil-square-o"})
}
