@{
  Layout = "_Layout";
}

@using OnlineBakery.ViewModels

@model LoginViewModel

<p>Log in with your account</p>
<hr />
@using (Html.BeginForm())
{
  <table>
    <tr>
      <td>@Html.LabelFor(m => m.Email)</td>
      <td>@Html.TextBoxFor(m => m.Email)</td>
    </tr>
    <tr>
      <td>@Html.LabelFor(m => m.Password)</td>
      <td>@Html.PasswordFor(m => m.Password)</td>
    </tr>
  </table>
  <hr />
  <button type="submit" value="Log in" class="btn btn-info fa"><i class="fa-sign-in"> Log in</i></button>
}

